---
layout: layout
title: Photos
permalink: /photos/
menu: main
weight: 2
navigation: true
---
<main class="photos">
  <h1 class="page-title">Photos</h1>
  <ul class="grid" data-controller="photo-grid">
    <% photo_posts = blog(:blog).articles.select { |article| present_value?(article.data.photo) }.sort_by(&:date).reverse %>
    <% photo_posts.each do |post| %>
      <li>
        <a href="<%= post.url %>">
          <% photo_url = post.data.photo %>
          <% if photo_url %>
            <img src="<%= photo_url %>" loading="lazy" alt="" data-photo-grid-target="image">
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
</main>
