---
layout: page
title: Code
permalink: /code/
menu: main
weight: 1
navigation: true
---

<div
  class="github-repos"
  data-controller="github-repos"
  data-github-repos-username-value="<%= site_data.author&.username %>"
>
  Loading...
</div>
