---
layout: page
title: Code
permalink: /code/
menu: main
weight: 1
navigation: true
---

<div class="github-repo">
  <div class="github-repo-name">
    <a href="https://www.mythblade.com" target="_blank" rel="noopener">Mythblade</a>
  </div>
  <div class="github-repo-description">
    <p>Join other adventurers, battle powerful foes and prove your worth. You can dive into the adventure anytime, anywhere.</p>
  </div>
  <div class="github-repo-time">
    <a href="https://www.mythblade.com" target="_blank" rel="noopener">
      Available on the web
    </a>
  </div>
</div>

<div
  class="github-repos"
  data-controller="github-repos"
  data-github-repos-username-value="<%= site_data.author&.username %>"
>
  Loading...
</div>
