<header class="header animate__animated animate__fadeInDown">
    <nav class="site-nav">
        {{- $avatar := .Site.Params.custom_avatar }}
        <h1 class="site-title"><a href="/"><img id="avatar" class="u-photo" src="{{ if $avatar }}{{ $avatar }}{{ else }}{{ .Site.Author.avatar }}{{ end }}" alt="Profile picture" width="36" height="36" />{{ .Site.Title }}</a></h1>
        <p class="p-note">Software engineer. Guitar addict.<br>Camera enthusiast. Gaming aficionado.</p>

        {{ $active := "home" }}
        {{ if hasPrefix .RelPermalink "/code" }}
        {{ $active = "code" }}
        {{ end }}
        {{ if hasPrefix .RelPermalink "/photos" }}
        {{ $active = "photos" }}
        {{ end }}
        {{ if .Params.photos }}
        {{ $active = "photos" }}
        {{ end }}
        {{ if hasPrefix .RelPermalink "/subscribe" }}
        {{ $active = "subscribe" }}
        {{ end }}

        <nav class="site-nav-menu">
            <div class="main-tabs-container">
                <div class="main-tabs-wrapper">
                    <ul class="main-tabs">
                        <li>
                            <a href="/" class="nav-link{{ if eq $active "home" }} active{{ end }}" data-translate-value="0">
                                <i class="fa-solid fa-house"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/code" class="nav-link{{ if eq $active "code" }} active{{ end }}" data-translate-value="100%">
                                <i class="fa-brands fa-github"></i>
                                Code
                            </a>
                        </li>
                        <li>
                            <a href="/photos" class="nav-link{{ if eq $active "photos" }} active{{ end }}" data-translate-value="200%">
                                <i class="fa-solid fa-camera-retro"></i>
                                Photos
                            </a>
                        </li>
                        <li>
                            <a href="/subscribe" class="nav-link{{ if eq $active "subscribe" }} active{{ end }}" data-translate-value="300%">
                                <i class="fa-solid fa-square-rss"></i>
                                Subscribe
                            </a>
                        </li>
                    </ul>
                    <div class="main-slider" aria-hidden="true">
                        <div class="main-slider-circle">&nbsp;</div>
                    </div>
                </div>
            </div>
        </nav>
    </nav>
</header>
