{% set currentTitle = title or pageTitle %}
{% set fullTitle = site.title %}
{% if currentTitle and currentTitle != site.title %}
  {% set fullTitle = site.title + ' | ' + currentTitle %}
{% endif %}
{% set canonicalUrl = (page.url or '/') | absoluteUrl %}
{% set metaDescription = description or site.description %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>{{ fullTitle }}</title>
  <link rel="preload" href="/assets/fonts/GT-W-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/GT-W-Regular-Oblique.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/GT-W-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/GT-W-Bold-Oblique.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <meta name="description" content="{{ metaDescription | plainText }}">
  <link rel="canonical" href="{{ canonicalUrl }}">
  <link rel="stylesheet" href="/assets/stylesheets/fonts.css">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <script defer src="/assets/scripts/application.js"></script>
  <link rel="alternate" href="{{ '/feed.xml' | absoluteUrl }}" type="application/rss+xml" title="{{ site.title }}">
  <link rel="alternate" href="{{ '/feed.json' | absoluteUrl }}" type="application/json" title="{{ site.title }}">
  <link rel="icon" href="/assets/images/avatar.jpg" type="image/jpeg">
  <link rel="shortcut icon" href="/assets/images/avatar.jpg" type="image/jpeg">
  {% for social in site.social %}
    {% if social.url | startsWith('http') %}
    <link rel="me" href="{{ social.url }}">
    {% endif %}
  {% endfor %}
  <meta name="turbo-cache-control" content="no-cache">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#282c35" media="(prefers-color-scheme: dark)">
</head>
